* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 400px;
  padding: 0 20px;
  margin: 0 auto;
}

.form__title {
  margin: 10px 0px 30px 0px;
}
.form__block {
  display: grid;
  grid-template-columns: repeat(6, 45px);
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.form__block-item img {
  width: 100%;
}
.form__text {
  margin: 50px 0px 40px 0px;
}
.form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__input-check {
  margin: -20px 0px 0px 0px;
  width: 16px;
  height: 16px;
}
.form__input {
  width: 380px;
  margin: 0px 0px 30px 0px;
  height: 37px;
  background: #ebeef7;
  border: 0;
  border-radius: 3px;
  outline: 0;
}
.form__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0px 0px 0px -240px;
}
.form__input[type=text] {
  padding-left: 15px;
}
.form__input[type=password] {
  padding-left: 15px;
}
.form__in-text {
  font-size: 14px;
  margin: -20px 0px 0px 0px;
}
.form__button {
  width: 380px;
  background-color: #0dcf93;
  border: 0;
  border-radius: 3px;
  height: 37px;
  color: white;
  font-size: 14px;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
}
.form__button-back:hover {
  background-color: #20a77d;
}

.title {
  color: #b6b6b6;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.nav__item {
  font-size: 14px;
  text-decoration: none;
  margin: 20px 0px 0px 0px;
  color: #000;
}

@media (max-width: 386px) {
  .form__input {
    width: 300px;
  }
  .form__block {
    display: grid;
    grid-template-columns: repeat(6, 35px);
    gap: 5px;
  }
  .form__button {
    width: 300px;
    font-size: 12px;
  }
  .form__box {
    margin: 0px 0px 0px -160px;
  }
  .nav {
    gap: 5px;
  }
  .nav__item {
    font-size: 11px;
  }
}